HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/logs
/docs
### VS Code ###
.vscode/
/mvnw text eol=lf
*.cmd text eol=crlf
.mvn/wrapper
.gitattributes
.gitignore
mvnw
verify-github-oauth.sh
.env
